<nav>
    <ul>
       

        <li <% if ( title === 'index') { %>class="present"<% } %> ><a href="/">Index</a></li>
        <li <% if (title === 'gallery') { %>class="present"<% } %> ><a href="gallery">Gallery</a></li>

    </ul>

</nav>
